<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= current_page.data.title || "AMBCS - Arkansas Mountain Bike Championship Series" %></title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <%= stylesheet_link_tag "site" %>

  </head>

  <body>

    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-upper text-primary mb-3">Arkansas Mountain Championship Series</span>
      <span class="site-heading-lower">AMBCS</span>
    </h1>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">AMBCS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item <%= current_page.data.name == "home" ? "active" : "" %> px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="index.html" id="nav-home">Home</a>
            </li>
            <li class="nav-item <%= current_page.data.name == "about" ? "active" : "" %> px-lg-4">
              <div class="dropdown show ">
                <a class="nav-link text-uppercase text-expanded dropdown-toggle" href="#" role="button" id="about-dd" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  About
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="about.html" id="nav-about">About</a>
                  <a class="dropdown-item" href="rules.html" id="nav-about">Rules</a>
                  <a class="dropdown-item" href="paydirt.html" id="nav-about">Pay Dirt</a>
                  <a class="dropdown-item" href="contact.html" id="nav-about">Contact</a>
                  <a class="dropdown-item" href="links.html" id="nav-about">Links</a>
                </div>
              </div>
            </li>
            <li class="nav-item <%= current_page.data.name == "calendar" ? "active" : "" %> px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="calendar.html" id="nav-calendar">Calendar</a>
            </li>
            <li class="nav-item <%= current_page.data.name == "sponsors" ? "active" : "" %> px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="sponsors.html" id="nav-results">Sponsors</a>
            </li>
            <li class="nav-item <%= current_page.data.name == "results" ? "active" : "" %> px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="results.html" id="nav-results">Results</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="page-section clearfix">
      <div class="container">
        <div class="jumbotron" id="main-content">
          <%= yield %>
        </div>
      </div>
    </section>

    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0 small">Copyright &copy; AMBCS 2018</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="http://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <%= javascript_include_tag "site" %>

  </body>

</html>
